* {
    /* border: 1px solid red; */
    box-sizing: border-box;
}

body {
    margin:0;
}

/* Header */

.header-container {
    display: flex;
    justify-content: center;
    background-color: black;
    padding:20px 50px 20px 50px;
}

.header {
    max-width: 1100px;
    flex:1;
    display: flex;
}

.header img {
    width:200px;
    height:auto;
}

.header ul {
    display: flex;
    list-style-type: none;
    margin-left: auto;
    gap: 20px;
    padding-right:20px;
    align-items: center;
}

.header ul li {
    color: white;
    font-weight: bold;
}

.header a {
    text-decoration: none;
}

/* Hero */

.hero-container {
    display: flex;
    justify-content: center;
    background-color: black;
    background-image: url(images/background-img.jpeg);
    background-size:cover;
    background-position: center;
    min-height: 850px;
    padding:20px 50px 20px 50px;
}

.hero {
    max-width: 1100px;
    flex:1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 30px;
}

.text-content {
    display:flex;
    flex-direction: column;
    flex:0.5 1 0;
    background-color: rgba(0, 0, 0, 0.846);
    padding: 50px;
    border-radius: 20px;
}

.text-content h1 {
    font-size: 48px;
    font-weight: 900;
    margin: 0;
    color: white;
}

.text-content p {
    color: white;
    font-size: 18px;
}

.text-content button {
    max-width: 200px;
    border-radius: 20px;
    background-color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
}

/* Content */

.content-container {
    display: flex;
    justify-content: center;
    background-color: rgb(238, 238, 238);
    padding:20px 50px 20px 50px;
}

.content {
    display: flex;
    flex-direction: column;
    flex:auto;
    max-width: 1100px;
}

.content h2 {
    align-self: center;
    font-size: 48px;
    font-weight: 900;
    margin-top:20px;
    margin-bottom: 40px;
}

.info-main {
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    gap:30px;
    flex-wrap: wrap;
    flex-grow:1;
}

.info-sub {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 230px;
}

.info-sub img {
    max-width: 250px;
    border-radius: 20px;
}

.info-sub h4 {
    margin-bottom: 10px;
}

.info-sub p {
    font-size: 18px;
    margin-top:10px;
    text-align: center;
}

.info-sub hr {
    border: 1px solid black;
    width: 100%;
    margin:0;
}

/* Quote */

.quote-container {
    display: flex;
    justify-content: center;
    background-color: rgb(238, 238, 238);
    padding:20px 50px 20px 50px;
}

.quote {
    background-color: rgb(213, 212, 212);
    padding:10px 50px 10px 50px;
    display: flex;
    flex-direction: column;
    max-width: 1100px;
}

.quote-text {
    font-size: 25px;
    font-style: italic;
    margin: 15px;
}

.author {
    font-size: 25px;
    font-weight: bold;
    align-self: flex-end;
    margin: 15px;
}

/* CTA */

.cta-container {
    position: relative;
    display: flex;
    justify-content: center;
    min-height: 300px;
    padding:20px 50px 20px 50px;
}

.cta-container::before {
    content: "";
    background-image: url(images/hero-img.jpeg);
    background-size:cover;
    background-position: center;
    position:absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 0.5;
    z-index: -1;
}

.cta {
    padding:20px 50px 20px 50px;
    max-width: 700px;
    display: flex;
    border-radius: 20px;
    gap: 30px;
}

.cta-text h3 {
    color: black;
    font-size: 40px;
    margin:0;
}

.cta-text p {
    color: black;
    font-size: 18px;
    margin:0;
}

.cta button {
    align-self: center;
    min-width: 100px;
}

/* Footer */

.footer-container {
    display: flex;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    padding:20px 50px 20px 50px;
    margin-top: auto;
}

.footer p {
    color: white;
}